.modifierBrand {
  position: relative;
}

.modifierBrand .menuItemLabel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.verticalListWrapper {
  border: 1px solid red;
}

.horizontalListWrapper {
  border: 1px solid blue;
}
